.form-inline{
    margin: 0 auto;
}
.form-control{
    width: 1200px!important;
    max-width: 300px;
}
.navbar{
    margin-top: 90px;
}
.row{
    text-align: center;
    font-size: 18px;

}

.container{
    margin: auto 200px;
}
div{
    background-repeat: no-repeat;
    background-position: center;
}
button{
    /*padding: 0;*/
    /*margin: 100px auto;*/
    /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
img{
    width: 200px;
    height: 200px;
    align-content: center;
}

body{
    background-color: black;
    width: 100%;
}
