.form-inline{
    margin: 0 auto;
}
.form-control{
    width: 1200px!important;
    max-width: 300px;
}
.navbar {
    width: 100%;
    margin-top: 10px;
    background-color: red !important;
}

.row{
    margin-left: auto;

}

.container{
    margin: 0 auto;
}
div{
    background-repeat: no-repeat;
    background-position: center;
}
button{
    /*padding: 0;*/
    /*margin: 100px auto;*/
    /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
img{
    width: 200px;
    height: 200px;
    align-content: center;
}


img:hover{
    border: 2px white solid;
}
body{
    width: 100%;
}
.head{
    line-height: 40px;
    font-size: 40px;
    color: black;

}
a:hover{
    text-decoration: none;
}
